/* FDE306 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #FDE306;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

.body {
  width: 100%;
  height: 100vh;
  
  /* display: grid;
  flex-direction: column;
  align-items: center; */
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #FDE306;
}

.backlink, .backlink a{
  margin: 50px 0;
  text-align: center;
  color: #EE242C;
}

.backlink a:hover {
    color: #2d34ff;
}